[Desktop Entry]
Name=Bazalka
Comment=The automatic pot watering system
Exec=mobile
Icon=${SNAP}/gui/appicon.png
Terminal=false
Type=Application
Categories=Tools;
